<div class="container" id="home-container">
  <div class="jumbotron">
    <h1 class="display-4">blog</h1>
    <p class="lead courier">simple blog project to get back in it</p>
    <hr class="my-4">
    <%= link_to "Sign up", signup_path, class: "btn btn-outline-dark btn-lg" %>
  </div>
</div>