<div class="container" id="home-container light-bg">
  <div class="jumbotron light-bg">
    <h1 class="display-4">tofu blog</h1>
    <p class="lead courier">simple blog project to get back in it</p>
    <hr class="my-4">
    <%= link_to "Sign up", signup_path, class: "btn btn-outline-dark btn-small helvetica-neue" %>
  </div>
</div>