.font-small {
  font-size: 16px;
}

.font-medium {
  font-size: 18px;
}

.font-large {
  font-size: 24px;
}

.font-black {
  color: black;
}

.font-dark-gray {
  color: #5a5a5a;
}

.courier {
  font-family: 'Courier New', Courier, monospace;
}

.helvetica-neue {
  font-family: 'Helvetica Neue';
}

.tahoma {
  font-family: 'Tahoma';
}