<h1 class="text-center mt-4 helvetica-neue font-dark-gray">edit category</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'form' %>
    </div>
  </div>
  <div class="row justify-content-center">
    <%= link_to '[ Return to category ]', category_path(@category), class: "helvetica-neue font-dark-gray" %>
  </div>
</div>