<h1 class="text-center mt-4 helvetica-neue font-dark-gray">new category</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <%= render 'form' %>
    </div>
  </div>
  <div class="row justify-content-center">
    <%= link_to '[ Return to categories list ]', categories_path, class: "helvetica-neue font-dark-gray" %>
  </div>
</div>